@import "./mixins/d-flex.scss";

.about {
  color: var(--clr-pink);
  padding: 1em 6em;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  .person {
    scroll-snap-align: start;
    padding-top: 2em;
    height: 100vh;
    @include d-flex(space-between, center, row);

    .content {
      width: 30ch;
      > p {
        font-size: calc(var(--base-font-size) * 8);
      }

      > p:last-child {
        margin-top: 0.5em;
        font-family: var(--f-circ-pro), sans-serif;
        color: var(--clr-dark-pink);
        font-size: calc(var(--base-font-size) * 4);
      }
    }

    .person-img {
      margin-left: 2em;
      @include d-flex(center, center, row);
      gap: 2em;

      > p {
        width: 7ch;
        font-size: calc(var(--base-font-size) * 8);
      }
    }
  }
}

@media (max-width: 1256px) {
  .about {
    .person {
      .person-img {
        > p {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 776px) {
  .about {
    padding: 1em 1em 1em 1.5em;

    .person {
      flex-direction: column;
      justify-content: center;

      .content {
        width: 100%;
        > p {
          font-size: calc(var(--base-font-size) * 4);
        }

        > p:last-child {
          font-size: calc(var(--base-font-size) * 3);
        }
      }

      .person-img {
        margin-left: 0;
        gap: 0;
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }
}
