.about {
  color: var(--clr-pink);
  padding: 1em 5em;

  .person {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    height: 85vh;

    .content {
      width: 30ch;
      > p {
        font-size: calc(var(--base-font-size) * 8);

        @media (max-width: 776px) {
          font-size: calc(var(--base-font-size) * 4);
        }
      }

      > p:last-child {
        margin-top: 0.5em;
        font-family: var(--f-circ-pro), sans-serif;
        color: var(--clr-dark-pink);
        font-size: calc(var(--base-font-size) * 4);

        @media (max-width: 776px) {
          font-size: calc(var(--base-font-size) * 2);
        }
      }
    }

    .person-img {
      margin-left: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2em;

      img {
        width: 80%;
        transform: scale(0.85);

        @media (max-width: 776px) {
          transform: scale(1);
          width: 100%;
        }
      }

      > p {
        width: 7ch;
        font-size: calc(var(--base-font-size) * 8);

        @media (max-width: 1256px) {
          display: none;
        }
      }

      @media (max-width: 776px) {
        margin-left: 0;
        gap: 0;
      }
    }

    @media (max-width: 776px) {
      height: auto;
      flex-direction: column;
      justify-content: center;
    }
  }

  .person + .person {
    margin-top: 2em;
  }

  @media (max-width: 776px) {
    padding: 1em 1.5em;
  }
}
