.chatRoot {
  height: 90vh;
  margin-top: 10vh;
  padding: 2em 6em;
  color:#000000;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;

  .chatWrapper {
    display: flex;
    height: 87vh;
    width: 100%;
    position:relative;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: transparent;
    // box-shadow: rgba(107, 107, 107, 0.384) 0px 4px 12px;

    .chatPanel {
      flex: 1 1 30%;
      height: 100%;

      .chatTabs {
        display: flex;
        width: 100%;
        align-items: center;
        height: 10%;

        .chatTab {
          width: 100%;
          flex: 1;
          color: var(--clr-black-4);
          font-weight: 500;
          font-family: var(--f-circ-pro);
          font-size: calc(var(--base-font-size) * 2.5);

          &:hover {
            filter: brightness(1.2);
          }

          &.selectedTab {
            color: var(--clr-white);
          }
        }
      }

      .chatList {
        height: 90%;
        overflow: hidden;

        ::-webkit-scrollbar {
          width: 10px;
        }

        ::-webkit-scrollbar-track {
          background-color: var(--clr-gray-2);
        }

        ::-webkit-scrollbar-thumb {
          background-color: var(--clr-black-4);
        }

        .requests-Wrapper {
          display: flex;
          flex-direction: column;
          height: 100%;
          padding: 0.5em;

          .image-header {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1.5em 0;
          }

          .request-title {
            padding: 1.125em;
            color: var(--clr-black-4);
            font-size: calc(var(--base-font-size) * 1.75);
          }

          ul {
            flex: 1;
            overflow-y: auto;
          }
        }

        .chatListItem {
          display: flex;
          align-items: center;

          .imageContainer {
            height: 48px;
            width: 48px;
            border-radius: 50%;
            overflow: hidden;

            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }

    .chatWindow {
      flex: 1 1 70%;
      background: transparent;

      .chattyWrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: #191414;

        .chatHeader {
          background-color: #191414;
          display: flex;
          flex-direction: row;
          align-items: center;
          height: 10%;
          padding: 0.5em 0.875em;
          color: #fff;

          .imageContainer {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 1em;
            border: 2px solid white ;
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
              border-radius: 12px;
              border: transparent;
            }
          }
        }

        .chatsMain {
          background-color: #191414;
          height: 80%;
          width: 100%;
          overflow-y: auto;
          display: flex;
          flex-direction: column;

          .fromTime{
            align-self: flex-end;
            display: flex;
            flex-direction: column ;
            gap:12px;
          }

          .toTime{
            align-self: flex-start;
            display: flex;
            flex-direction: column ;
            gap:12px;
          }

          .chatTime{
            color: grey;
            margin: 1em;
            margin-top: -0.5em;
            background-color: transparent;
            font-family: var(--f-circ-spotify-medium);
          }

          .singleMsg {
            padding: 1em;
            margin: 1em;
            background-color: #ffffff;
            color: #000;
            display: flex;
            flex-direction: column;
            gap:24px;
            max-width: 75%;
            min-width: 220px;
            font-family: var(--f-circ-spotify-medium);
          }
          .fromUser {
            align-self: flex-end;
            display: flex;
            flex-direction: column ;
            gap:12px;
            border-radius: 24px 24px 0px 24px;
            background-color: #DAC195;
            color: #000000;
          }
          .toUser {
            align-self: flex-start;
            display: flex;
            flex-direction: column ;
            gap:12px;
            border-radius: 24px 24px 24px 0px;
            background-color: #ffffff;
            color: #000000;
          }
        }

        .iconContainer {
          display: flex;
          padding: 1em;
          background-color: #ffffff;
          align-items: center;
          height: auto;

          margin-right: 1em;
          border-radius: 36px;
          button {
            color:  #000;
          }
        }

        .inputBar {
          height: 15%;
          width: 100%;
          padding: 0.5em 2em;
          display: flex;
          align-items: center;
          background: #191414;
          font-family: var(--f-circ-spotify-medium);
          }
          .inputContainer {
            display: flex;
            flex: 1;
            width: 80%;
            height: auto;
            border: 2px solid white;
            border-radius: 36px;

            .inputMsg {
              width: 100%;
              border: none;
              outline: none;
              padding: 1.2em;
              // border: 1px solid white;
              // border-radius: 8px;
              letter-spacing: 1.12px;
              background-color: transparent;
              color: var(--clr-white);
              font-family: var(--f-circ-spotify-medium);

              &::placeholder {
                color: #ffffff;
              }
            }

            .sendMsgBtn {
              margin-left: 1em;
              padding: 1em;
              border: none;
              color:  #ffffff;
            }
        }
      }
    }
  }
}

.send-song-button-container {
  > button {
    text-align: right;
    margin-top: 0.6em;
    background-color: var(--clr-dark-pink);
    color: var(--clr-black);
    padding: 0.4em 1em;
    border-radius: 100px;
    font-family: var(--f-circ-pro);
    font-size: calc(var(--base-font-size) * 2.25);
  }
}

@media (max-width: 776px) {
  .chatRoot {
    padding: 0;
    margin-bottom: 8vh;
    height: 101vh;

    .chatWrapper{
      position: fixed;
      height: 68vh;
    }

    .chatsMain{
      overflow: hidden;
      overflow-x: hidden;
      overflow-y: hidden;
    }
  }

}
