.dashboard-container {
  padding: 2em 6em;
  height: 90vh;
  margin-top: 10vh;
  color: var(--clr-gray);
  // border: 1px solid red;

  .dashboard {
    display: grid;
    grid-template-columns: 3fr 4fr 2fr;
    place-items: center;
    gap: 1em;
    margin-top: 2em;
    // border: 2px solid white;

    .heading {
      margin-left: 2em;
      font-size: calc(var(--base-font-size) * 6);

      div {
        margin-top: 1rem;

        p {
          font-family: var(--f-circ-pro), sans-serif;
          font-size: calc(var(--base-font-size) * 3.5);
          color: var(--clr-orange);
        }

        #export {
          font-family: var(--f-circ-pro), sans-serif;
          font-size: calc(var(--base-font-size) * 2.5);
          color: var(--clr-orange);
          padding: 0.4em 1.5em;
          border-radius: 100px;
          outline: none;
          border: none;
        }
      }
    }

    > div:first-child {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .mood-tracker {
        height: 75vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

        .main {
          width: 100%;
          text-align: right;

          > span:first-child {
            font-size: calc(var(--base-font-size) * 10);
          }

          > span:nth-child(2) {
            text-transform: capitalize;
            font-size: calc(var(--base-font-size) * 6);
          }
        }

        .inner {
          display: grid;
          grid-template-columns: 1fr 2fr;

          .content {
            p > span {
              text-transform: capitalize;
            }

            p:first-child {
              font-size: calc(var(--base-font-size) * 3);
              color: var(--clr-white);
            }

            p:nth-child(2) {
              font-size: calc(var(--base-font-size) * 6);
            }

            p:nth-child(3) {
              font-size: calc(var(--base-font-size) * 4);
              color: var(--clr-red);
            }

            p:nth-child(4) {
              font-size: calc(var(--base-font-size) * 3);
              color: var(--clr-white);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 776px) {
  .dashboard-container {
    height: 100%;
    padding: 0.5em 1.5em;

    .dashboard {
      display: flex;
      flex-direction: column;

      .heading {
        margin-left: 0;
        font-size: calc(var(--base-font-size) * 5);
        text-align: center;

        div {
          p {
            font-size: calc(var(--base-font-size) * 3);
          }

          #export {
            font-size: calc(var(--base-font-size) * 2.25);
          }
        }
      }

      > div:first-child {
        flex-direction: column;

        .mood-tracker {
          height: auto;
          width: 100%;
          justify-content: flex-start;

          .main {
            text-align: left;
            > span:first-child {
              font-size: calc(var(--base-font-size) * 6);
            }

            > span:nth-child(2) {
              font-size: calc(var(--base-font-size) * 4);
            }
          }

          .inner {
            display: block;
            width: 100%;

            .content {
              margin-top: 1em;
              p:first-child {
                font-size: calc(var(--base-font-size) * 2.5);
              }

              p:nth-child(2) {
                font-size: calc(var(--base-font-size) * 4);
              }

              p:nth-child(3) {
                font-size: calc(var(--base-font-size) * 3);
              }

              p:nth-child(4) {
                font-size: calc(var(--base-font-size) * 2.5);
              }
            }
          }
        }
      }
    }
  }
}
