.dashboard-container {
  padding: 2em 5em;
  height: 90vh;
  color: var(--clr-gray);

  .dashboard {
    display: grid;
    grid-template-columns: 3fr 4fr 2fr;
    place-items: center;
    gap: 1em;

    .heading {
      font-size: calc(var(--base-font-size) * 6);

      div {
        margin-top: 1rem;

        p {
          font-family: var(--f-circ-pro), sans-serif;
          font-size: calc(var(--base-font-size) * 3.5);
          color: var(--clr-orange);
        }

        #export {
          font-family: var(--f-circ-pro), sans-serif;
          font-size: calc(var(--base-font-size) * 2.5);
          color: var(--clr-orange);
          padding: 0.4em 1.5em;
          border-radius: 100px;
          outline: none;
          border: none;
        }
      }
    }
    > div:first-child {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

@media (max-width: 776px) {
  .dashboard-container {
    height: 100%;
    padding: 0.5em 1.5em;

    .dashboard {
      display: flex;
      flex-direction: column;

      .heading {
        font-size: calc(var(--base-font-size) * 5);
        text-align: center;

        div {
          p {
            font-size: calc(var(--base-font-size) * 3);
          }

          #export {
            font-size: calc(var(--base-font-size) * 2.25);
          }
        }
      }

      > div:first-child {
        flex-direction: column;
      }
    }
  }
}
