@import "./mixins/d-flex.scss";
@import "./mixins/hide_scrollbar.scss";
@import "./partials/skeletonColors";

.discover-container {
  margin-top: 10vh;
  height: 90vh;
  margin-bottom: 5vh;
  padding: 1em 6em;
  font-family: var(--f-circ-pro);
  color: var(--clr-white);
  @include d-flex(flex-start, center, column);

  .skeleton {
    background-color: $skeletonDiscover;
  }

  .searchbar {
    width: 100%;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 10fr 1fr;

    > div:nth-child(2) {
      margin-left: auto;
      margin-right: 5%;
      padding: 0.6em 1em;
      border-radius: 100px;
      width: 30%;
      background-color: var(--clr-white);
      transition: all 250ms ease-in-out;
      @include d-flex(flex-end, center, row);

      > svg {
        color: var(--clr-black);

        &:first-child {
          margin-right: 0.5em;
          font-size: calc(var(--base-font-size) * 3);
        }

        &:last-child {
          margin-left: 0.5em;
          font-size: calc(var(--base-font-size) * 3);
        }
      }

      > input {
        width: 100%;
        border: none;
        outline: none;
        font-size: calc(var(--base-font-size) * 2.75);
      }

      &:focus-within {
        width: 90%;
      }
    }

    > ul.user-list {
      margin-left: auto;
      margin-right: 5%;
      width: 90%;
      list-style-type: none;
      margin-top: 1em;
      @include d-flex(flex-start, flex-start, column);
      overflow-y: auto;
      max-height: 70vh;
      height: auto;

      @include hideScrollbar();

      > li.user {
        @include d-flex(flex-start, center, row);
        padding: 0.8em 1.5em;
        cursor: pointer;
        border-radius: 10px;
        width: 100%;

        > .image-container {
          width: 64px;
          height: 64px;
          border-radius: 100%;
          overflow: hidden;

          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        > .name {
          margin-left: 2em;
          font-size: calc(var(--base-font-size) * 2);
        }

        &:hover,
        &:focus {
          background-color: #2a2a2a;
        }
      }
    }
  }

  .discover {
    width: 100%;
    height: 100%;
    padding-bottom: 2em;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 10fr 1fr;

    .prev,
    .next {
      @include d-flex(flex-start, center, row);
      font-size: 2rem;

      svg {
        cursor: pointer;
      }
    }

    .next {
      justify-content: flex-end;
    }

    .mobile-visible {
      display: none;
    }

    .user {
      border-radius: 50px;
      overflow: hidden;
      transform: scale(0.9);
      @include d-flex(center, center, row);

      .image-container {
        width: 50%;
        position: relative;
        z-index: 1;

        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .overlap {
          position: absolute;
          z-index: 2;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;

          > img {
            position: absolute;
            z-index: 5;
            top: 20px;
            left: 20px;
          }

          > button {
            font-size: calc(var(--base-font-size) * 2);
            font-weight: bold;
            padding: 0.4em 1em;
            background-color: var(--clr-white);
            border-radius: 100px;

            position: absolute;
            z-index: 5;
            bottom: 20px;
            right: 20px;
          }
        }

        .skeleton {
          height: 100%;
          margin: 0;
          border-radius: 0;
        }
      }

      .content-container {
        width: 50%;
        height: 100%;
        background-color: var(--clr-maroon);
        padding: 3em 4em;
        @include d-flex(space-evenly, flex-start, column);

        .main-content {
          width: 100%;
          .name {
            font-family: var(--f-circ-spotify);
            font-size: calc(var(--base-font-size) * 4.5);
          }

          .tags {
            display: flex;
            flex-wrap: wrap;
            gap: 0.2em 0.4em;

            .tag {
              background-color: var(--clr-white);
              padding: 0.5em 1em;
              color: var(--clr-black);
              text-transform: capitalize;
              border-radius: 100px;
              font-size: calc(var(--base-font-size) * 2);
              margin-top: 0.5em;

              &.selected {
                color: var(--clr-white);
                background-color: var(--clr-black);
              }
            }
          }

          .bio {
            margin-top: 1em;
            font-size: calc(var(--base-font-size) * 2);
          }

          .skeleton {
            &:nth-child(1) {
              height: 40px;
            }

            &:nth-child(2) {
              height: 20px;
              width: 50%;
            }
          }
        }

        .inner-content {
          width: 100%;
          .anthem {
            margin-top: 2em;
            .title {
              font-size: calc(var(--base-font-size) * 3);
            }

            .anthem-content {
              margin-top: 1em;
              @include d-flex(flex-start, center, row);
              gap: 1em;

              .anthem-image {
                width: 128px;
                height: 128px;
                overflow: hidden;
                position: relative;

                > img {
                  height: 100%;
                  width: 100%;
                  object-fit: contain;
                }

                > .controls {
                  position: absolute;
                  z-index: 100;
                  bottom: 4px;
                  right: 4px;
                  width: 30px;
                  height: 30px;
                  border-radius: 100%;
                  @include d-flex(center, center, row);
                  background-color: var(--clr-white);

                  > svg {
                    font-size: calc(var(--base-font-size) * 2.75);
                    color: var(--clr-black);
                  }
                }

                .skeleton {
                  height: 100%;
                }
              }

              > div:not(.anthem-image) {
                width: 50%;
                .anthem-title {
                  font-size: calc(var(--base-font-size) * 2);
                }

                .anthem-album {
                  margin-top: 0.4em;
                  font-size: calc(var(--base-font-size) * 1.75);
                }

                .skeleton {
                  &:nth-child(1) {
                    width: 100%;
                    max-width: 200px;
                    height: 30px;
                  }

                  &:nth-child(2) {
                    max-width: 100px;
                    height: 20px;
                  }
                }
              }
            }
          }

          .interests {
            margin-top: 2em;
            .title {
              font-size: calc(var(--base-font-size) * 3);
            }

            .list {
              margin-top: 1em;
              display: flex;
              flex-wrap: wrap;
              gap: 0.2em 0.4em;

              .artist {
                background-color: var(--clr-black);
                @include d-flex(space-between, center, row);
                gap: 1em;
                border-radius: 100px;
                padding-right: 1em;
                > div {
                  width: 32px;
                  height: 32px;
                  border-radius: 100px;
                  overflow: hidden;
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }

                span {
                  font-size: calc(var(--base-font-size) * 1.75);
                }
              }
            }

            .common {
              text-align: center;
              align-self: center;
            }

            .skeleton {
              &:nth-child(1) {
                width: 100%;
                height: 20px;
              }

              &:not(:nth-child(1)) {
                width: 60%;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .discover-container {
    .discover {
      .user {
        position: relative;
        z-index: 1;

        .image-container {
          width: 100%;
          position: relative;
          z-index: 2;

          .overlap {
            > button {
              top: 20px;
              right: 20px;
              bottom: unset;
            }
          }
        }

        .content-container {
          background-blend-mode: color;
          background: linear-gradient(#ffffff01, var(--clr-maroon));
          // background: linear-gradient(#ffffff01 30%, var(--clr-maroon) 70%);
          width: 100%;
          height: 70%;
          position: absolute;
          top: 30%;
          z-index: 5;
          padding: 2em;
          justify-content: flex-end;
          align-items: flex-start;
          gap: 1em;
        }
      }
    }
  }
}

@media (max-width: 976px) {
  .discover-container {
    .discover {
      .prev,
      .next {
        font-size: 1.5rem;
      }

      .user {
        .image-container {
          .overlap {
            > button {
              font-size: calc(var(--base-font-size) * 1.75);
            }
          }
        }
        .content-container {
          .main-content {
            .name {
              font-size: calc(var(--base-font-size) * 3.5);
            }

            .tags {
              .tag {
                font-size: calc(var(--base-font-size) * 1.75);
              }
            }

            .bio {
              font-size: calc(var(--base-font-size) * 1.75);
            }
          }

          .inner-content {
            margin-top: 1em;
            gap: 1em;

            > div {
              flex: 1 1 40%;
            }
            .anthem {
              margin-top: 0;
              .title {
                font-size: calc(var(--base-font-size) * 2.5);
              }

              .anthem-content {
                > div:not(.anthem-image) {
                  .anthem-title {
                    font-size: calc(var(--base-font-size) * 1.75);
                  }

                  .anthem-album {
                    margin-top: 0.4em;
                    font-size: calc((var(--base-font-size) * 1.75 * 7) / 8);
                  }
                }
              }
            }

            .interests {
              margin-top: 1em;
              .title {
                font-size: calc(var(--base-font-size) * 2.5);
              }

              .list {
                .artist {
                  span {
                    font-size: calc(var(--base-font-size) * 1.5);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 776px) {
  .discover-container {
    padding: 1em 1.5em;
    height: 100vh;
  }
}

@media (max-width: 678px) {
  .discover-container {
    .searchbar {
      display: block;

      > div:nth-child(2) {
        width: 100%;

        > svg {
          color: var(--clr-black);

          &:first-child {
            margin-right: 0.5em;
            font-size: calc(var(--base-font-size) * 2);
          }

          &:last-child {
            margin-left: 0.5em;
            font-size: calc(var(--base-font-size) * 2);
          }
        }

        > input {
          width: 100%;
          border: none;
          outline: none;
          font-size: calc(var(--base-font-size) * 2.25);
        }

        &:focus-within {
          width: 100%;
        }
      }

      > ul.user-list {
        width: 100%;

        > li.user {
          padding: 1em 1.5em;

          > .image-container {
            width: 48px;
            height: 48px;
          }

          > .name {
            margin-left: 1em;
            font-size: calc(var(--base-font-size) * 2);
          }
        }
      }
    }

    .discover {
      margin-top: 1em;
      @include d-flex(center, center, column);
      gap: 0;

      .next,
      .prev {
        display: none;
      }

      // .mobile-visible {
      //   display: flex;
      //   justify-content: space-evenly;
      //   align-items: center;
      //   color: var(--clr-white);
      //   width: 100%;
      //   font-size: 1.2rem;
      //   margin-top: 0.8em;
      // }

      .user {
        width: 100%;
        transform: scale(1);
        height: 100%;
        border-radius: 20px;

        .image-container {
          .overlap {
            > button {
              right: 1em;
              font-size: calc(var(--base-font-size) * 1.5);
            }

            > img {
              left: 1em;
              width: 60px;
            }
          }
        }

        .content-container {
          height: 80%;
          top: 21%;
          padding: 1em;

          .main-content {
            .name {
              font-size: calc(var(--base-font-size) * 3.5);
            }

            .tags {
              gap: 0.4em;
              .tag {
                font-size: calc(var(--base-font-size) * 1.5);
              }
            }

            .bio {
              display: none;
              font-size: calc(var(--base-font-size) * 1.5);
            }
          }

          .inner-content {
            margin-top: 0;
            .anthem {
              .anthem-content {
                .anthem-image {
                  width: 80px;
                  height: 80px;

                  > .controls {
                    width: 24px;
                    height: 24px;

                    > svg {
                      font-size: calc(var(--base-font-size) * 2);
                    }
                  }
                }

                > div:not(.anthem-image) {
                  .anthem-title {
                    font-size: calc(var(--base-font-size) * 2);
                  }

                  .anthem-album {
                    margin-top: 0.4em;
                    font-size: calc((var(--base-font-size) * 1.75 * 7) / 8);
                  }
                }
              }
            }

            .interests {
              .title {
                font-size: calc(var(--base-font-size) * 2.5);
              }

              .list {
                gap: 0.4em;
                .artist {
                  span {
                    font-size: calc(var(--base-font-size) * 1.5);
                  }

                  > div {
                    width: 24px;
                    height: 24px;
                  }
                }
              }

              .common {
                font-size: calc(var(--base-font-size) * 1.5);
              }
            }
          }
        }
      }
    }
  }
}
