@import "./partials/skeletonColors";
@import "./mixins/d-flex.scss";

.feed-container {
  margin-top: 10vh;
  padding: 2em 6em;
  @include d-flex(center, center, row);
  width: 100%;
  font-family: var(--f-circ-pro), sans-serif;

  .skeleton {
    background-color: $skeletonFeed;
  }

  .feed-wrapper{
    width: 100%;
    height: 100%;
    @include d-flex(space-around, center, row);
    flex-wrap: wrap;
    gap: 2em;

    .ind-post{
      width: 345px;
      height: 360px;
      border: 2px solid var(--clr-white);
      border-radius: 10px;
      padding: 1em 1.5em;
      mix-blend-mode: difference;
      @include d-flex(space-between, flex-start, column);

      .post-header, .post-song{
        @include d-flex(flex-start, center, row);
        gap: 1em;
        .image-container{
          width: 48px;
          height: 48px;
          border: 2px solid var(--clr-white);
          border-radius: 50%;
          overflow: hidden;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .content-container{
          @include d-flex(center, flex-start, column);
          > p {
            font-size: calc(var(--base-font-size) * 2);
            font-family: var(--f-circ-spotify), sans-serif;
          }

          .meta{
            margin-top: calc(var(--base-font-size) * 0.5);
            @include d-flex(flex-start, center, row);
            flex-wrap: wrap;
            gap: calc(var(--base-font-size) * 0.5);
            font-size: calc(var(--base-font-size) * 1.5);
            font-family: var(--f-circ-pro), sans-serif;
            > p {
              font-family: inherit;
              @include d-flex(center, center, row);
              > span{
                margin-right: calc(var(--base-font-size) * 0.5);
                height: 100%;
                display: grid;
                place-items: center;

                svg{
                  font-size: calc(var(--base-font-size) * 1);
                }
              }
            }
          }
        }
      }

      .post-song{
        cursor: pointer;
        width: 100%;
        .image-container{
          min-width: 64px;
          min-height: 64px;
          border-radius: 5px;
          border: none;
          position: relative;

          svg{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: var(--clr-white);
            font-size: calc(var(--base-font-size) * 2);
            display: none;
          }

        }

        &.focus, &:hover, &:focus{
          border-radius: 5px;
          background-color: rgba($color: #000000, $alpha: 0.2);

          .image-container{
            svg{
              display: block;
            }
          }
        }
      }

      .post-socials{
        width: 100%;
        @include d-flex(space-around, center, row);
        button{
          color: inherit;
          display: grid;
          place-items: center;
          grid-template-columns: 1fr 1fr;
          gap: calc(var(--base-font-size) * 0.5);
          svg{
            color: inherit;
            font-size: calc(var(--base-font-size) * 2.5);
          }

          span{
            font-size: calc(var(--base-font-size) * 1.75);
          }
        }
      }

      .post-content{
        p{
          font-size: calc(var(--base-font-size) * 2);
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .feed-container {
    padding: 1em 1.5em;
    margin-bottom: 10vh;
  }
}