@font-face {
  font-family: "Circular Spotify Tx T Black";
  src: url(../fonts/CircularSpotifyTxT-Black.ttf) format("ttf");
}

@font-face {
  font-family: "Circular Spotify Tx T Bold";
  src: url(../fonts/CircularSpotifyTxT-Bold.ttf) format("ttf");
}

@font-face {
  font-family: "Circular Std Medium Regular";
  src: url(../fonts/CircularStd-Medium.otf) format("otf");
}

@font-face {
  font-family: "Circular Pro Italic";
  src: url(../fonts/circular-pro-bookItalic.ttf) format("ttf");
}

@font-face {
  font-family: "Slate Black";
  src: url(../fonts/SlateForOnePlus-Black.ttf) format("ttf");
}

@font-face {
  font-family: "Slate Bold";
  src: url(../fonts/SlateForOnePlus-Bold.ttf) format("ttf");
}

@font-face {
  font-family: "Slate Book";
  src: url(../fonts/SlateForOnePlus-Book.ttf) format("ttf");
}

@font-face {
  font-family: "Slate Medium";
  src: url(../fonts/SlateForOnePlus-Medium.ttf) format("ttf");
}

@font-face {
  font-family: "Slate Regular";
  src: url(../fonts/SlateForOnePlus-Regular.ttf) format("ttf");
}

@font-face {
  font-family: "Slate Thin";
  src: url(../fonts/SlateForOnePlus-Thin.ttf) format("ttf");
}
