@import "./mixins/d-flex.scss";

.home {
  height: 90vh;
  padding: 1em 6em;
  margin-top: 10vh;
  @include d-flex(space-between, center, row);

  .content {
    height: 75vh;
    max-width: 45ch;
    @include d-flex(space-evenly, flex-start, column);

    & p:first-child {
      font-size: calc(var(--base-font-size) * 8);
    }

    & p:nth-child(2) {
      font-family: var(--f-circ-pro);
      font-size: calc(var(--base-font-size) * 4);
      max-width: 20ch;
      color: var(--clr-green);
    }

    a {
      margin-left: auto;
      margin-right: auto;
      font-family: var(--f-circ-pro);
      font-size: calc(var(--base-font-size) * 3);
      border: none;
      outline: none;
      padding: 0.5em 1em;
      border-radius: 100px;
      background-color: var(--clr-black);
      color: var(--bg-home);
      transition: all 250ms ease-in-out;
      @include d-flex(space-between, center, row);

      > span:first-child {
        @include d-flex(center, center, row);
      }

      > span:nth-child(2) {
        margin-left: 0.5em;
      }

      &:hover {
        box-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.9);
      }
    }
  }
}

@media (max-width: 1075px) {
  .home {
    padding: 1.5em;
    flex-direction: column;
    gap: 2em;

    .content {
      & p:first-child {
        font-size: calc(var(--base-font-size) * 6);
      }

      & p:nth-child(2) {
        font-size: calc(var(--base-font-size) * 3);
      }
    }
  }
}

@media (max-width: 776px) {
  .home {
    height: 90vh;
  }
}

@media (max-width: 576px) {
  .home {
    .content {
      max-width: 100%;
      height: 60vh;

      p:first-child {
        font-size: calc(var(--base-font-size) * 3.75);
      }

      p:nth-child(2) {
        max-width: 100%;
        font-size: calc(var(--base-font-size) * 2.5);
      }

      a {
        font-size: calc(var(--base-font-size) * 2.25);
      }
    }
  }
}
