.home {
  height: 90vh;
  display: flex;
  padding: 1em 6em;
  margin-top: 10vh;
  justify-content: space-between;
  align-items: center;

  .content {
    max-width: 45ch;

    & p:first-child {
      font-size: calc(var(--base-font-size) * 8);
    }

    & p:nth-child(2) {
      font-family: var(--f-circ-pro), sans-serif;
      font-size: calc(var(--base-font-size) * 4);
      margin-top: 2em;
      max-width: 20ch;
      color: var(--clr-green);
    }
  }
}

@media (max-width: 1075px) {
  .home {
    padding: 1.5em;
    flex-direction: column;
    gap: 2em;

    .content {
      & p:first-child {
        font-size: calc(var(--base-font-size) * 6);
      }

      & p:nth-child(2) {
        font-size: calc(var(--base-font-size) * 3);
      }
    }
  }
}

@media (max-width: 776px) {
  .home {
    height: 90vh;
  }
}

@media (max-width: 576px) {
  .home {
    .content {
      max-width: 100%;

      p:first-child {
        font-size: calc(var(--base-font-size) * 5);
      }

      p:nth-child(2) {
        max-width: 100%;
        font-size: calc(var(--base-font-size) * 3);
      }
    }
  }
}
