@import "fonts.scss";
@import "dashboard.scss";
@import "home.scss";
@import "insights.scss";
@import "about.scss";
@import "readytorock.scss";
@import "discover.scss";
@import "rolling.scss";
@import "mySpace.scss";
@import "./components/navbar.scss";
@import "./components//carousel.scss";
@import "./components/tracklist.scss";
@import "./components/webplayer.scss";
@import "./components/imageSlider.scss";

:root {
  /* Colors */
  --bg-home: #ffc055;
  --bg-top-tracks: #483048;
  --bg-insights: #ffc7cc;
  --bg-about: #1d2d5b;
  --bg-transparent: transparent;

  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-green: #418671;
  --clr-gray: #ac91c1;
  --clr-orange: #f18a21;
  --clr-pink: #fbc9cc;
  --clr-red: #ff5732;
  --clr-maroon: #841818;
  --clr-dark-blue: #1c2b5a;
  --clr-dark-orange: #ff5834;
  --clr-dark-pink: #e8638d;

  /* Fonts */
  --f-circ-spotify-bold: "Circular Spotify Tx T Bold";
  --f-circ-spotify: "Circular Spotify Tx T Black";
  --f-circ-pro: "Circular Std Medium Regular";

  /* Base Font Size */
  --base-font-size: 8px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--f-circ-spotify), sans-serif;
  font-weight: normal;
  font-size: calc(var(--base-font-size) * 2);
  overflow: hidden;
}

.wrapper {
  overflow-x: hidden;
  position: relative;
  z-index: 1;
}

.dark-overlay {
  @media (max-width: 776px) {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 5;
  }
}

.loading-div {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%,
    100% {
      top: 24px;
      height: 32px;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}
