@import "fonts.scss";
@import "dashboard.scss";
@import "insights.scss";
@import "about.scss";
@import "noData.scss";
@import "readytorock.scss";
@import "discover.scss";
@import "rolling.scss";
@import "mySpace.scss";
@import "match.scss";
@import "./feed.scss";
@import "./landing.scss";
@import "./chat.scss";
@import "./components/navbar.scss";
@import "./components//carousel.scss";
@import "./components/tracklist.scss";
@import "./components/webplayer.scss";
@import "./components/imageSlider.scss";
@import "./components/alert.scss";
@import "./components/modal.scss";
@import "./components/editListModal.scss";
@import "./components/skeleton.scss";
@import "./components/addSongModal.scss";
@import "./components/bottomNav.scss";
@import "./components/betaImageSlider.scss";
@import "./components/audio.scss";
@import "./components/requestListItem.scss";
@import "./components/chatListItem.scss";
:root {
  /* Colors */
  --bg-top-tracks: #483048;
  --bg-insights: #ffc7cc;
  --bg-about: #1d2d5b;
  --bg-match: #191414;
  --bg-transparent: transparent;

  --bg-home: #f59c24;
  --bg-beta-brown: #7e4b31;
  --bg-beta-red: #8f1833;
  --bg-beta-blue: #6098f2;
  --clr-beta-blue: #1e3468;
  --clr-beta-white: #fafafa;
  --clr-beta-yellow: #f7c964;
  --clr-beta-brown: #cd845b;
  --clr-beta-dark-brown: #832333;
  --clr-beta-faded-white: #ffcdd3;
  --clr-hover: #111213;

  --clr-black: #000000;
  --clr-black-2: #444;
  --clr-black-3: #202c33;
  --clr-black-4: #4b4848;
  --clr-white: #ffffff;
  --clr-white-2: #fafafa;
  --clr-green: #418671;
  --clr-gray: #ac91c1;
  --clr-gray-2: #c4c4c4;
  --clr-gray-3: #2a3942;
  --clr-orange: #f18a21;
  --clr-pink: #fbc9cc;
  --clr-red: #ff5732;
  --clr-maroon: #841818;
  --clr-dark-blue: #1c2b5a;
  --clr-dark-orange: #ff5834;
  --clr-dark-pink: #e8638d;
  --clr-skin: #f6ca74;

  --clr-text-match: #dac195;

  /* Alert Colors */
  --clr-alert-success: #4caf50;
  --clr-alert-error: #ef5350;
  --clr-alert-info: #03a9f4;
  --clr-alert-warning: #ff9800;

  /* Fonts */
  --f-circ-spotify-bold: "Circular Spotify Tx T Bold", sans-serif;
  --f-circ-spotify: "Circular Spotify Tx T Bold", sans-serif;
  --f-circ-spotify-medium: "Circular Std Medium Regular", sans-serif;
  --f-circ-pro: "Circular Std Medium Regular", sans-serif;
  --f-slate-regular: "Slate Regular, sans-serif";
  --f-slate-medium : "Slate Medium";

  /* Base Font Size */
  --base-font-size: 8px;

  @media (max-width: 400px) {
    --base-font-size: 7px;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--f-circ-spotify);
  font-weight: normal;
  font-size: calc(var(--base-font-size) * 2);
  overflow: auto;
  height: 100%;
  // overflow-y: scroll;
  // scroll-snap-type: y mandatory;
}

.wrapper {
  overflow: hidden;
  position: relative;
  z-index: 1;
  // @media (max-width: 776px) {
  //   padding-bottom: 4em;
  // }
}

.dark-overlay {
  @media (max-width: 776px) {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 5;
  }
}

.loading-div {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .loader {
    width: 150px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 0.2em;
  }

  .loader > div {
    width: 20px;
    height: 100%;
    background-color: var(--clr-white);
    transform-origin: bottom;
    animation: linear infinite alternate bounce;
  }

  .loader > div:nth-child(1) {
    transform: scaleY(0.2);
    animation-delay: 10ms;
    animation-duration: 1s;
  }

  .loader > div:nth-child(2) {
    transform: scaleY(0.8);
    animation-delay: 80ms;
    animation-duration: 1.1s;
  }

  .loader > div:nth-child(3) {
    transform: scaleY(0.4);
    animation-delay: 40ms;
    animation-duration: 1.3s;
  }

  @keyframes bounce {
    0% {
      transform: scaleY(inherit);
    }
    50% {
      transform: scaleY(1);
    }
    100% {
      transform: scaleY(inherit);
    }
  }

  @media (max-width: 776px) {
    .loader {
      width: 100px;
      height: 60px;
    }

    .loader > div {
      width: 10px;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.colorThief {
  margin-top: 10vh;
  color: white;
}

iframe {
  pointer-events: none;
}
