@import "fonts.scss";
@import "dashboard.scss";
@import "home.scss";
@import "insights.scss";
@import "about.scss";
@import "discover.scss";
@import "./components/navbar.scss";
@import "./components//carousel.scss";
@import "./components/tracklist.scss";
@import "./components/webplayer.scss";
@import "./components/imageSlider.scss";

:root {
  /* Colors */
  --bg-home: #ffc055;
  --bg-top-tracks: #483048;
  --bg-insights: #ffc7cc;
  --bg-about: #1d2d5b;

  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-green: #418671;
  --clr-gray: #ac91c1;
  --clr-orange: #f18a21;
  --clr-pink: #fbc9cc;
  --clr-maroon: #841818;
  --clr-dark-blue: #1c2b5a;
  --clr-dark-orange: #ff5834;
  --clr-dark-pink: #e8638d;

  /* Fonts */
  --f-circ-spotify-bold: "Circular Spotify Tx T Bold";
  --f-circ-spotify: "Circular Spotify Tx T Black";
  --f-circ-pro: "Circular Std Medium Regular";

  /* Base Font Size */
  --base-font-size: 8px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--f-circ-spotify), sans-serif;
  font-weight: normal;
  font-size: calc(var(--base-font-size) * 2);
}

.wrapper {
  overflow-x: hidden;
  position: relative;
  z-index: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
