@import "./mixins/d-flex.scss";

.insights {
  margin-top: 10vh;
  height: 90vh;
  @include d-flex(center, center, row);
  padding: 1em 6em;

  .content {
    > p {
      font-size: calc(var(--base-font-size) * 8);
      color: var(--clr-dark-orange);
      width: 5ch;
    }

    .pages {
      margin-top: 4em;
      list-style-type: none;
      @include d-flex(flex-start, flex-start, column);
      gap: 1em;
      width: max-content;

      > .pages-li {
        font-size: calc(var(--base-font-size) * 5.5);
        color: var(--clr-dark-blue);
        position: relative;
        &::after {
          position: absolute;
          left: 0;
          bottom: 0;
          content: "";
          width: 100%;
          height: 4px;
          background-color: var(--clr-dark-blue);
          transition: transform 250ms ease-in-out;
          transform-origin: left;
          transform: scaleX(0);
        }

        &:hover::after,
        &:focus::after {
          transform: scaleX(1);
        }
      }

      > p:not(:first-child) {
        margin-top: 0.5em;
      }
    }
  }

  @media (max-width: 1075px) {
    padding: 1.5em;
    flex-direction: column;
    gap: 1em;

    .content {
      display: block;
      text-align: left;
      > p {
        width: 100%;
        font-size: calc(var(--base-font-size) * 6);
      }

      .pages {
        margin-top: 2em;
        width: 100%;

        > .pages-li {
          font-size: calc(var(--base-font-size) * 4.5);
        }
      }
    }
  }

  @media (max-width: 776px) {
    height: 100vh;
  }

  @media (max-width: 576px) {
    .content {
      width: 100%;
      > p {
        font-size: calc(var(--base-font-size) * 4);
      }

      .pages {
        margin-top: 1em;
        width: 100%;

        > .pages-li {
          font-size: calc(var(--base-font-size) * 3);
        }
      }
    }
  }
}
