@import "./mixins/hide_scrollbar.scss";

.beta-landing {
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  @include hideScrollbar();

  .first-page {
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    color: var(--clr-beta-blue);
    position: relative;
    padding-top: 10vh;

    .image-wrapper {
      height: 100%;
    }

    .content-wrapper {
      position: absolute;
      left: 0;
      top: 0;
      height: 85vh;
      margin-top: 5vh;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      flex-direction: column;
      padding-left: 6em;

      .title {
        width: 15ch;
        line-height: 0.9;
        font-size: calc(var(--base-font-size) * 16);
        color: var(--clr-beta-white);
        margin-bottom: 5rem;
      }

      .sub {
        font-family: var(--f-circ-pro);
        font-size: calc(var(--base-font-size) * 3);
        width: 48ch;
      }
    }

    .button-container {
      color: var(--bg-home);
    }
  }

  .second-page {
    scroll-snap-align: start;
    height: 100vh;
    background-color: var(--bg-beta-brown);
    padding: 2em 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .content-wrapper {
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-direction: column;
      .title {
        padding-right: 2em;
        color: var(--clr-beta-white);
        font-size: calc(var(--base-font-size) * 10);
      }

      .sub {
        color: var(--clr-beta-yellow);
        font-family: var(--f-circ-pro);

        font-size: calc(var(--base-font-size) * 3);
        width: 45ch;
      }

      .button-container {
        button {
          background-color: var(--clr-beta-yellow);
          color: var(--bg-beta-brown);
        }
      }
    }

    .image-container {
      transform: scale(0.95);
      overflow: hidden;
      > img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }

    .button-container {
      color: var(--clr-beta-yellow);
    }
  }

  .third-page {
    scroll-snap-align: start;
    background-color: var(--bg-beta-red);
    .content-wrapper {
      .title {
        color: var(--clr-beta-faded-white);
        position: relative;

        &::before,
        &::after {
          position: absolute;
          content: "Spaces.";
          left: 0;
          top: 0;
        }

        &::before {
          top: 1ch;
        }

        &::after {
          top: 2ch;
        }

        &:not(:first-child) {
          margin-top: -1.7em;
        }
      }

      .sub {
        margin-top: 2em;
        color: var(--clr-beta-brown);
      }
      .button-container {
        button {
          background-color: var(--clr-beta-brown);
          color: var(--bg-beta-red);
        }
      }
    }

    .button-container {
      color: var(--clr-beta-faded-white);
    }
  }

  .fourth-page {
    scroll-snap-align: start;
    background-color: var(--bg-beta-blue);
    .content-wrapper {
      .title {
        color: var(--clr-beta-dark-brown);
      }

      .sub {
        margin-top: 2em;
        color: var(--clr-beta-white);
      }
      .button-container {
        button {
          background-color: var(--clr-beta-white);
          color: var(--clr-beta-dark-brown);
        }
      }
    }

    .button-container {
      color: var(--clr-beta-white);
    }
  }

  .button-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    button {
      text-transform: uppercase;
      font-family: var(--f-circ-pro);
      font-size: calc(var(--base-font-size) * 3);
      padding: 0.5em 2em;
      border-radius: 100px;

      &:hover,
      &:focus {
        box-shadow: 0 0 2px 5px rgba($color: #000000, $alpha: 0.1);
      }
    }
  }

  .button-container {
    margin: 4rem 0 2rem 0;

    a {
      font-family: var(--f-circ-pro);
      font-size: calc(var(--base-font-size) * 3);
      border: none;
      outline: none;
      padding: 0.5em 1em;
      border-radius: 100px;
      background-color: var(--clr-black);
      transition: all 250ms ease-in-out;
      @include d-flex(space-between, center, row);

      > span:first-child {
        @include d-flex(center, center, row);
      }

      > span:nth-child(2) {
        margin-left: 0.5em;
      }

      &:hover {
        box-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.9);
      }
    }
  }
}

@media (max-width: 1200px) {
  .beta-landing {
    .image-wrapper {
      height: 65vh;
    }
    .content-wrapper {
      .title {
        font-size: calc(var(--base-font-size) * 12);
      }

      .sub {
        width: 30ch;
      }
    }
  }
}

@media (max-width: 1024px) {
  .beta-landing {
    scroll-snap-type: none;
    .first-page {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
      height: unset;

      .image-wrapper {
        width: 100%;

        > .image-container {
          height: 60vh;
          flex-direction: unset;
          gap: 0;
          margin-bottom: 2em;

          > .beta-box {
            height: 100%;
            width: 100%;
            padding: 0;
            justify-content: center;
          }
        }
      }

      .content-wrapper {
        position: relative;
        height: auto;
        margin-top: 2vh;
        justify-content: flex-start;
        width: 100%;
        padding: 0 4em 0 6em;

        .title {
          width: 100%;
          font-size: calc(var(--base-font-size) * 10);
        }

        .sub {
          width: 100%;
          margin-bottom: 0;
        }
      }
    }

    .second-page {
      flex-direction: column;
      height: auto;
      padding: 5em 6em;

      .content-wrapper {
        height: 50vh;
        .title {
          padding-right: 0;
          font-size: calc(var(--base-font-size) * 6);
        }

        .sub {
          font-size: calc(var(--base-font-size) * 2.75);
          width: 100%;
        }
      }
    }

    .button-container {
      justify-content: center;
      button {
        margin-left: 0;
        font-size: calc(var(--base-font-size) * 2.5);
      }
    }
  }
}

@media (max-width: 776px) {
  .beta-landing {
    .first-page {
      .content-wrapper {
        padding: 0 1.5em;

        .title {
          margin-bottom: 1rem;
          font-size: calc(var(--base-font-size) * 7);
        }

        .sub {
          margin-top: 1rem;
          font-size: calc(var(--base-font-size) * 2.5);
        }

        .button-container {
          margin: 2rem 0 -2rem 0;
        }
      }
    }

    .second-page {
      padding: 2em 1.5em;
      .content-wrapper {
        .title {
          font-size: calc(var(--base-font-size) * 7);
        }

        .sub {
          font-size: calc(var(--base-font-size) * 2.5);
        }
      }
    }
    .button-container {
      margin: 0;
      button {
        font-size: calc(var(--base-font-size) * 2);
      }
    }
  }
}

@media (max-width: 512px) {
  .beta-landing {
    .first-page {
      .image-wrapper {
        > .image-container {
          margin-bottom: 1em;
          > .image-box {
            margin: 0;

            > img {
              max-width: 100% !important;
              margin-left: 0;
              margin-top: 0;
            }
          }
        }
      }
    }
    .second-page {
      .content-wrapper {
        height: 80vh;

        .title {
          font-size: calc(var(--base-font-size) * 6);
        }
      }

      .image-container {
        width: 100%;
        height: 100%;
        > img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .third-page {
      .content-wrapper {
        height: 70vh;
      }
    }
  }
}

@media (max-width: 375px) {
  .beta-landing {
    .first-page {
      .content-wrapper {
        padding: 0 1.5em;

        .title {
          font-size: calc(var(--base-font-size) * 6);
        }

        .sub {
          font-size: calc(var(--base-font-size) * 2.25);
        }

        .button-container {
          margin: 1rem 0;
        }
      }
    }

    .second-page {
      .content-wrapper {
        height: 100vh;
      }
    }

    .third-page {
      .content-wrapper {
        height: 85vh;

        .title {
          font-size: calc(var(--base-font-size) * 6);
        }

        .sub {
          font-size: calc(var(--base-font-size) * 2.25);
        }
      }
    }
  }
}
