@import "./mixins/d-flex.scss";
@import "./partials/skeletonColors";

.match-container {
  margin-top: 10vh;
  padding: 1em 6em;
  color: var(--clr-text-match);

  scroll-behavior: smooth;

  .skeleton {
    background-color: $skeletonMatch;
  }

  span.black {
    color: var(--clr-text-match);
  }

  > div {
    position: relative;
    height: calc(90vh - 1.5em);

    > .scroll-content {
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 100%;
      @include d-flex(center, center, column);
      cursor: pointer;
      > p {
        font-size: calc(var(--base-font-size) * 2);
        text-align: center;
        color: var(--clr-white);
      }

      > svg {
        font-size: calc(var(--base-font-size) * 3);
        color: var(--clr-text-match);
        transition: transform 300ms ease-in-out;
      }

      &:hover > svg {
        transform: translateY(5px);
      }
    }
  }

  .first-page {
    @include d-flex(flex-start, space-evenly, column);
    gap: 2.5em;

    > .topbar {
      @include d-flex(center, center, row);
      gap: 2em;
      flex-wrap: wrap;

      > .image-container {
        @include d-flex(flex-start, center, row);
        width: fit-content;
        > * {
          width: 200px;
          height: 200px;
          border-radius: 50%;
        }

        > *:nth-child(2) {
          margin-left: -100px;
        }

        > img {
          object-fit: cover;
        }
      }

      > p {
        text-align: center;
        font-size: calc(var(--base-font-size) * 8);

        > .skeleton {
          width: 400px;
          height: 50px;
        }
      }
    }

    > .middle-content {
      // margin-top: 1em;
      @include d-flex(center, center, column);

      > .text {
        text-align: center;
        > p {
          width: 45ch;
          color: var(--clr-white);
          font-size: calc(var(--base-font-size) * 2.25);
        }
      }

      > .button-container {
        margin-top: 1em;
        @include d-flex();
        > button {
          font-family: var(--f-circ-pro);
          font-size: calc(var(--base-font-size) * 2);
          padding: 0.8em 2.5em;
          background-color: var(--clr-black);
          color: var(--clr-text-match);
          text-transform: uppercase;
          border-radius: 100px;
          border: 2px solid var(--clr-black);

          &:hover {
            border-color: var(--clr-white);
          }
        }
      }

      > .skeleton {
        &:nth-child(1) {
          width: 500px;
          height: 40px;
        }

        &:nth-child(2) {
          width: 200px;
          height: 40px;
        }
      }
    }

    > .percentage {
      text-align: center;
      @include d-flex(center, center, row);
      > p {
        font-size: calc(var(--base-font-size) * 20);
      }

      > .skeleton {
        width: 400px;
        height: 120px;
        margin-bottom: 2em;
      }
    }
  }

  .second-page {
    height: auto;
    padding: 2em 0;
    width: 100%;
    > .main-content {
      @include d-flex(center, center, column);
      > p {
        &:nth-child(1) {
          font-size: calc(var(--base-font-size) * 15);
        }
        &:nth-child(2) {
          text-transform: uppercase;
          font-size: calc(var(--base-font-size) * 3);
        }
      }
    }

    > .artist-list {
      margin-top: 2em;
      width: 100%;
      @include d-flex(center, center, row);
      gap: 4em;
      flex-wrap: wrap;

      $height: 175px;
      > .common-artist {
        position: relative;
        z-index: 1;
        @include d-flex(center, center, column);
        > .image-container {
          width: 175px;
          height: $height;
          border-radius: 50%;
          overflow: hidden;
          > img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
        > .controls {
          position: absolute;
          z-index: 100;
          left: 50%;
          top: $height - 15px;
          transform: translateX(-50%);

          button {
            @include d-flex(center, center, row);
            width: 30px;
            height: 30px;
            border-radius: 100%;
            @include d-flex(center, center, row);
            background-color: var(--clr-white);

            > svg {
              font-size: calc(var(--base-font-size) * 2);
              color: var(--clr-black);
            }
          }
        }

        > p {
          margin-top: 1.5em;
          text-align: center;
          font-size: calc(var(--base-font-size) * 2.25);
          font-family: var(--f-circ-pro);
        }
      }

      > .common-track {
        @include d-flex(center, center, row);
        gap: 1em;

        .image-container {
          border-radius: 15px;
        }

        > .controls {
          position: absolute;
          z-index: 100;
          left: $height - 20px !important;
          top: $height - 35px;
        }

        > .track-meta {
          > p {
            &:nth-child(1) {
              font-size: calc(var(--base-font-size) * 3);
            }
            &:nth-child(2) {
              font-family: var(--f-circ-pro);
              font-size: calc(var(--base-font-size) * 2.25);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1084px) {
  .match-container {
    > div {
      height: 100%;
      > .scroll-content {
        display: none;
      }
    }

    .first-page {
      > .topbar {
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 776px) {
  .match-container {
    padding: 1em 1.5em;

    .first-page {
      gap: 2em;
      > .topbar {
        > .image-container {
          > * {
            width: 160px;
            height: 160px;
          }
        }

        > p {
          margin-top: 1rem;
          font-size: calc(var(--base-font-size) * 6);
        }
      }

      > .middle-content {
        > .text {
          text-align: center;
          > p {
            width: 100%;
          }
        }

        > .button-container {
          > button {
            font-size: calc(var(--base-font-size) * 1.75);
          }
        }

        > .skeleton {
          &:nth-child(1) {
            width: 100%;
            height: 25px;
          }

          &:nth-child(2) {
            width: 50%;
            height: 30px;
          }
        }
      }

      > .percentage {
        width: 100%;
        > p {
          font-size: calc(var(--base-font-size) * 10);
        }

        > .skeleton {
          width: 80%;
          height: 100px;
        }
      }
    }

    .second-page {
      > .main-content {
        > p {
          &:nth-child(1) {
            font-size: calc(var(--base-font-size) * 12);
          }
        }
      }

      > .artist-list {
        gap: 2em;
        $height: 150px;
        > .common-artist {
          > .image-container {
            width: 150px;
            height: $height;
          }

          > p {
            font-size: calc(var(--base-font-size) * 2);
          }

          > .controls {
            top: $height - 15px;
          }
        }

        > .common-track {
          flex-direction: column;

          > .track-meta {
            text-align: center;
          }

          > .controls {
            left: $height - 20px !important;
            top: $height - 35px;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .match-container {
    .first-page {
      > .topbar {
        > .image-container {
          > * {
            width: 140px;
            height: 140px;
          }
        }

        > p {
          width: 100%;
          margin-top: 1rem;
          font-size: calc(var(--base-font-size) * 5);

          > .skeleton {
            width: 100%;
          }
        }
      }

      > .middle-content {
        > .button-container {
          > button {
            font-size: calc(var(--base-font-size) * 1.5);
          }
        }
      }

      > .percentage {
        > p {
          font-size: calc(var(--base-font-size) * 8);
        }
      }
    }

    .second-page {
      > .main-content {
        > p {
          &:nth-child(1) {
            font-size: calc(var(--base-font-size) * 8);
          }
          &:nth-child(2) {
            font-size: calc(var(--base-font-size) * 2);
          }
        }
      }

      > .artist-list {
        gap: 1em;
        $height: 120px;
        > .common-artist {
          > .image-container {
            width: 120px;
            height: $height;
          }

          > .controls {
            top: $height - 15px;
          }
        }
        > .common-track {
          > .controls {
            left: $height - 20px !important;
            top: $height - 35px;
          }

          > .track-meta {
            > p {
              &:nth-child(1) {
                font-size: calc(var(--base-font-size) * 2.5);
              }
              &:nth-child(2) {
                font-family: var(--f-circ-pro);
                font-size: calc(var(--base-font-size) * 2);
              }
            }
          }
        }
      }
    }
  }
}
