@import "./mixins/d-flex.scss";

.mySpace {
  margin-top: 10vh;
  padding: 2em 6em;
  font-family: var(--f-circ-pro), sans-serif;
  color: var(--clr-pink);

  .skeleton {
    background-color: #141e3e;
  }

  > .intro {
    @include d-flex(space-around, center, row);

    > .image-container {
      width: 460px;
      height: 580px;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .skeleton {
        height: 100%;
      }
    }

    > .content-container {
      height: 100%;
      @include d-flex(center, flex-end, column);
      > .main {
        @include d-flex(center, flex-end, column);

        > p {
          text-align: right;
          font-size: calc(var(--base-font-size) * 8);
          font-family: var(--f-circ-spotify), sans-serif;
        }

        > .sub {
          @include d-flex(flex-end, center, row);

          > span {
            font-size: calc(var(--base-font-size) * 3);
            color: var(--clr-white);
          }

          > .traits-container {
            font-size: calc(var(--base-font-size) * 2);
            @include d-flex(space-evenly, center, row);

            > .trait {
              text-transform: capitalize;
              padding: 0.4em 1em;
              background-color: var(--clr-dark-pink);
              color: var(--clr-black);
              border-radius: 100px;
            }

            > .trait:not(:first-child) {
              margin-left: 1em;
            }
          }
        }

        .skeleton {
          &:nth-child(1) {
            width: 300px;
          }

          &:nth-child(2) {
            width: 150px;
          }
        }
      }

      > .middle {
        margin-top: 5em;
        width: 450px;
        @include d-flex(center, flex-end, column);

        > p {
          width: 100%;
          text-align: right;
          color: var(--clr-black);
          background-color: var(--clr-white);
          border-radius: 100px;
          padding: 0.2em 0.8em;
          font-size: calc(var(--base-font-size) * 4);
        }

        > .button-container {
          text-align: right;
          > button {
            text-align: right;
            margin-top: 0.6em;
            background-color: var(--clr-dark-pink);
            color: var(--clr-black);
            padding: 0.4em 1em;
            border-radius: 100px;
            font-family: var(--f-circ-pro);
            font-size: calc(var(--base-font-size) * 2.25);
          }
        }

        .skeleton {
          &:nth-child(2) {
            width: 150px;
          }
        }
      }

      > .anthem-container {
        margin-top: 5em;
        @include d-flex(flex-end, center, row);
        width: 100%;
        gap: 1.5em;

        > .content {
          height: 100%;
          text-align: right;
          @include d-flex(center, flex-end, column);

          > div {
            font-size: calc(var(--base-font-size) * 3);
            position: relative;
            margin-bottom: 1em;
            z-index: 1;

            &::after {
              position: absolute;
              content: "";
              z-index: 5;
              right: 0;
              bottom: -10px;
              width: 70%;
              border-radius: 100px;
              height: 4px;
              background-color: var(--clr-dark-pink);
            }
          }

          > p:nth-child(2) {
            color: var(--clr-white);
            font-size: calc(var(--base-font-size) * 3);
          }

          > p:nth-child(3) {
            margin-top: 0.4em;
            color: var(--clr-dark-pink);
            font-size: calc(var(--base-font-size) * 2);
          }

          .skeleton {
            margin-bottom: 5px;
            &:nth-child(1) {
              width: 100px;
            }

            &:nth-child(2) {
              width: 150px;
            }

            &:nth-child(3) {
              width: 100px;
            }

            &::after {
              all: unset;
            }
          }
        }

        > .image-container {
          width: 128px;
          height: 128px;
          border-radius: 5px;
          overflow: hidden;
          position: relative;
          border: 2px solid transparent;

          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          > button {
            position: absolute;
            right: 5px;
            bottom: 5px;
            width: 30px;
            height: 30px;
            background-color: var(--clr-white);
            border-radius: 100%;
            display: grid;
            place-items: center;

            > svg {
              font-size: calc(var(--base-font-size) * 2);
            }
          }

          &.highlight {
            border: 2px solid var(--clr-dark-pink);
          }

          .skeleton {
            height: 100%;
            margin: 0;
          }
        }
      }
    }
  }

  > .topTracks,
  > .topArtists {
    margin-top: 5em;
    width: 100%;
    @include d-flex(center, center, column);

    > .upper-container {
      width: 100%;
      @include d-flex(flex-start, center, row);
      > .title {
        font-size: calc(var(--base-font-size) * 5);
        width: max-content;
        position: relative;

        &::after {
          position: absolute;
          content: "";
          width: 80%;
          left: 10%;
          bottom: -5px;
          height: 4px;
          background-color: var(--clr-dark-pink);
        }
      }
    }

    > .genres-container {
      width: 100%;
      margin-top: 1.5em;
      @include d-flex(flex-start, center, row);
      flex-wrap: wrap;
      gap: 0.4em;

      > .genre {
        font-size: calc(var(--base-font-size) * 2);
        background-color: var(--clr-dark-pink);
        color: var(--clr-black);
        padding: 0.4em 1em;
        border-radius: 100px;
        text-transform: capitalize;
      }

      .skeleton {
        width: 100px;
      }
    }

    > .songs-container {
      margin-top: 1em;
      @include d-flex(flex-start, center, row);
      width: 100%;

      > .prev,
      > .next {
        background-color: transparent;
        color: var(--clr-white);
        font-size: calc(var(--base-font-size) * 4);
      }

      > .tracks-container {
        all: unset;
        margin: 0 2em;
        padding: 1em 0;
        display: flex;
        overflow-y: hidden;
        gap: 2em;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
          display: none;
        }

        @supports (scrollbar-color: var(--clr-orange) var(--clr-gray)) {
          * {
            scrollbar-width: none;
          }
        }

        > .track {
          all: unset;
          &::after {
            all: unset;
          }
          overflow: hidden;
          min-width: 254px;
          height: 254px;
          @include d-flex(center, center, row);
          position: relative;
          border-radius: 10px;
          z-index: 1;

          > .image-container {
            all: unset;
            width: 248px;
            height: 248px;
            border-radius: 10px;
            overflow: hidden;
            border: 3px solid transparent;
            > img {
              all: unset;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            &.selected {
              border: 3px solid var(--clr-dark-pink);
            }
          }

          > .content-container {
            all: unset;

            position: absolute;
            z-index: 10;
            left: 4px;
            top: 4px;
            width: calc(100% - 8px);
            height: calc(100% - 8px);
            background-color: rgba($color: #000000, $alpha: 0.4);

            @include d-flex(center, center, column);
            gap: 0.5em;

            > .title {
              text-align: center;
              font-family: var(--f-circ-spotify), sans-serif;
              font-size: calc(var(--base-font-size) * 3.5);
              color: var(--clr-white);
            }

            > .sub {
              text-align: center;
              font-size: calc(var(--base-font-size) * 2);
              color: var(--clr-white);
            }
          }

          > .controls {
            position: absolute;
            z-index: 105;
            bottom: 10px;
            right: 10px;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            @include d-flex(center, center, row);
            background-color: var(--clr-white);

            > svg {
              font-size: calc(var(--base-font-size) * 3);
              color: var(--clr-black);
            }
          }

          .skeleton {
            height: 100%;
            margin: 0;
          }
        }
      }

      &.playlist-container {
        > .tracks-container {
          > .track {
            > .content-container {
              background-color: rgba($color: #000000, $alpha: 0.4);
            }

            > a {
              position: absolute;
              right: 10px;
              top: 15px;
              color: var(--clr-black);
              background-color: var(--clr-white);
              padding: 0.4em 1em;
              border-radius: 100px;
              font-size: calc(var(--base-font-size) * 2);
              z-index: 105;
            }
          }
        }
      }
    }

    > .metadata-container {
      width: 100%;
      @include d-flex(space-between, center, row);
      margin-top: 1em;

      > .dots-container {
        @include d-flex(center, center, row);
        gap: 0.2em;

        > .dot {
          width: 10px;
          height: 10px;
          border-radius: 100%;
          background-color: var(--clr-gray-2);

          &.highlight {
            background-color: var(--clr-white);
          }
        }
      }

      > .song-number {
        color: var(--clr-white);

        > span:nth-child(1) {
          font-size: calc(var(--base-font-size) * 4.5);
          color: var(--clr-dark-pink);
        }

        > span:nth-child(2) {
          font-size: calc(var(--base-font-size) * 3);
        }
      }

      .skeleton {
        width: 50px;
        margin: 0;
      }
    }
  }

  > .topArtists {
    > .songs-container {
      > .tracks-container {
        > .track {
          height: 350px;
          @include d-flex(flex-start, center, column);
          position: relative;
          gap: 0;
          > .image-container {
            border-radius: 100%;
            height: 248px;
            width: 248px;
            border: 3px solid transparent;
            overflow: hidden;
            @include d-flex(center, center, row);

            > img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            .skeleton {
              width: 100%;
              height: 100%;
              margin: 0;
            }
          }

          > .content-container {
            display: block;
            position: relative;
            z-index: 1;
            background-color: transparent;
            height: auto;
            margin-top: 2em;

            > .title {
              font-size: calc(var(--base-font-size) * 3);
            }

            .skeleton {
              width: 100%;
              height: 10px;
              margin: 0;
            }
          }

          .controls {
            top: 230px;
            right: 105px;
          }
        }
      }
    }
  }
}

@media (max-width: 1248px) {
  .mySpace {
    > .intro {
      > .content-container {
        > .main {
          @include d-flex(center, flex-start, column);
          > p {
            font-size: calc(var(--base-font-size) * 6);
          }

          > .sub {
            justify-content: flex-start;
            > span {
              font-size: calc(var(--base-font-size) * 2.5);
            }

            > .traits-container {
              font-size: calc(var(--base-font-size) * 1.75);
            }
          }
        }

        > .middle {
          width: 100%;

          > p {
            font-size: calc(var(--base-font-size) * 3);
          }

          > .button-container {
            > button {
              font-size: calc(var(--base-font-size) * 2);
            }
          }
        }

        > .anthem-container {
          > .content {
            > div {
              font-size: calc(var(--base-font-size) * 2.5);
            }

            > p:nth-child(2) {
              font-size: calc(var(--base-font-size) * 2);
            }

            > p:nth-child(3) {
              font-size: calc(var(--base-font-size) * 1.75);
            }
          }

          > .image-container {
            width: 96px;
            height: 96px;
          }
        }
      }
    }

    > .topTracks,
    > .topArtists {
      margin-top: 4em;
      > .upper-container {
        > .title {
          font-size: calc(var(--base-font-size) * 4);
        }
      }

      > .songs-container {
        margin-top: 1em;
        > .prev,
        > .next {
          display: none;
        }

        > .tracks-container {
          margin: 0;
          gap: 10px;
          > .track {
            min-width: 154px;
            height: 154px;

            > .image-container {
              width: calc(100% - 6px);
              height: calc(100% - 6px);
            }

            > .content-container {
              width: calc(100% - 8px);
              height: calc(100% - 8px);

              > .title {
                font-size: calc(var(--base-font-size) * 2.25);
              }

              > .sub {
                font-size: calc(var(--base-font-size) * 1.5);
              }
            }

            > .controls {
              width: 30px;
              height: 30px;
              > svg {
                font-size: calc(var(--base-font-size) * 1.75);
              }
            }
          }
        }

        &.playlist-container {
          > .tracks-container {
            > .track {
              > a {
                font-size: calc(var(--base-font-size) * 1.5);
              }
            }
          }
        }
      }

      > .metadata-container {
        > .dots-container {
          > .dot {
            width: 8px;
            height: 8px;
            border-radius: 100%;
          }
        }

        > .song-number {
          > span:nth-child(1) {
            font-size: calc(var(--base-font-size) * 4);
          }

          > span:nth-child(2) {
            font-size: calc(var(--base-font-size) * 2.75);
          }
        }
      }
    }

    > .topArtists {
      > .songs-container {
        > .tracks-container {
          > .track {
            height: auto;
            > .image-container {
              min-width: 148px;
              min-height: 148px;
            }

            > .content-container {
              margin-top: 1.5em;
              left: 0;
              top: 0;

              > .title {
                font-size: calc(var(--base-font-size) * 2.5);
              }
            }

            .controls {
              top: 133px;
              right: 59px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1075px) {
  .mySpace {
    > .intro {
      flex-direction: column;
      > .image-container {
        width: 60%;
        height: auto;

        .skeleton {
          height: 400px;
        }
      }

      > .content-container {
        margin-top: 2em;
        width: 100%;
        @include d-flex(flex-start, flex-start, column);

        > .main {
          width: 100%;

          > p {
            text-align: left;
          }
        }

        > .middle {
          margin-top: 1.5em;

          > p {
            text-align: left;
          }

          > .button-container {
            text-align: left;
          }
        }

        > .anthem-container {
          margin-top: 1.5em;
          width: 100%;
          @include d-flex(space-between, center, row-reverse);

          > .image-container {
            margin-left: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 776px) {
  .mySpace {
    padding: 1em 1.5em;
    > .intro {
      position: relative;
      > .image-container {
        width: 100%;
        height: 400px;
      }
      > .content-container {
        position: absolute;
        justify-content: flex-end;
        padding: 1em;
        margin-top: 0;
        background-blend-mode: color;
        background: linear-gradient(#ffffff0a, var(--clr-black));
        > .main {
          > p {
            font-size: calc(var(--base-font-size) * 3.5);
            color: var(--clr-white);
          }

          > .sub {
            > span {
              font-size: calc(var(--base-font-size) * 1.75);
            }

            > .traits-container {
              font-size: calc(var(--base-font-size) * 1.25);
            }
          }

          .skeleton {
            &:nth-child(1) {
              width: 100%;
            }

            &:nth-child(2) {
              width: calc(100% / 2);
            }
          }
        }

        > .middle {
          width: 100%;

          > p {
            font-size: calc(var(--base-font-size) * 2.5);
          }

          > .button-container {
            > button {
              font-size: calc(var(--base-font-size) * 1.5);
            }
          }
        }

        > .anthem-container {
          gap: 0;
          > .content {
            > div {
              font-size: calc(var(--base-font-size) * 2);
              color: var(--clr-white);
            }

            > p:nth-child(2) {
              color: var(--clr-pink);
              font-size: calc(var(--base-font-size) * 2);
            }

            > p:nth-child(3) {
              color: var(--clr-white);
              font-size: calc(var(--base-font-size) * 1.25);
            }
          }

          > .image-container {
            min-width: 96px;
          }
        }
      }
    }

    > .topTracks,
    > .topArtists {
      margin-top: 2em;
      > .upper-container {
        > .title {
          font-size: calc(var(--base-font-size) * 2.75);
        }
      }

      > .genres-container {
        gap: 0.4em;

        > .genre {
          font-size: calc(var(--base-font-size) * 1.5);
          padding: 0.4em 0.8em;
        }
      }

      > .songs-container {
        > .tracks-container {
          > .track {
            min-width: 124px;
            height: 124px;

            > .image-container {
              width: calc(100% - 6px);
              height: calc(100% - 6px);
            }

            > .content-container {
              width: calc(100% - 8px);
              height: calc(100% - 8px);

              > .title {
                font-size: calc(var(--base-font-size) * 1.75);
              }

              > .sub {
                font-size: calc(var(--base-font-size) * 1.2);
              }
            }
          }
        }
      }

      > .metadata-container {
        margin-top: 0.2em;
        > .dots-container {
          > .dot {
            width: 6px;
            height: 6px;
            border-radius: 100%;
          }
        }

        > .song-number {
          > span:nth-child(1) {
            font-size: calc(var(--base-font-size) * 3);
          }

          > span:nth-child(2) {
            font-size: calc(var(--base-font-size) * 2);
          }
        }
      }
    }

    > .topArtists {
      > .metadata-container {
        margin-top: -1em;

        .skeleton {
          margin-top: 10px;
        }
      }
      > .songs-container {
        > .tracks-container {
          > .track {
            height: auto;
            > .image-container {
              min-width: 118px;
              min-height: 118px;
            }

            > .content-container {
              > .title {
                font-size: calc(var(--base-font-size) * 1.75);
              }
            }

            .controls {
              top: 103px;
              right: 44px;
            }
          }
        }
      }
    }
  }
}
