.tracks-container {
  height: 80vh;
  width: 50%;
  overflow-y: scroll;
  margin-top: 1em;
  padding-right: 1em;
  width: 100%;
}

.track {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
  padding: 0 1em 1em 0;
  border-radius: 2px;
  position: relative;
}

.track:not(:first-child) {
  padding: 1em 1em 1em 0;
}

.track::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(var(--base-font-size) / 4);
  background-color: var(--clr-white);
}

.track-name {
  font-size: calc(var(--base-font-size) * 4);
  color: var(--clr-orange);
}

.track-sub {
  display: flex;
  flex-direction: column;
}

.track-artists {
  font-family: var(--f-circ-pro), sans-serif;
  font-weight: bold;
  font-size: calc(var(--base-font-size) * 2.5);
}

.track-number {
  font-family: var(--f-circ-spotify-bold), sans-serif;
  font-weight: bold;
  font-size: calc(var(--base-font-size) * 3);
  color: var(--clr-orange);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--clr-gray);
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-orange);
}

@supports (scrollbar-color: var(--clr-orange) var(--clr-gray)) {
  * {
    scrollbar-color: var(--clr-orange) var(--clr-gray);
    scrollbar-width: thin;
  }
}

.selected-track {
  transition: all 250ms ease-in-out;
}

.selected-track .track-name {
  color: var(--clr-white);
}

.selected-track .track-artists {
  color: var(--clr-white);
}

.selected-track .track-number {
  color: var(--clr-white);
}

@media (max-width: 776px) {
  .tracks-container {
    height: 60vh;
  }

  .track-name {
    font-size: calc(var(--base-font-size) * 2);
  }

  .track-artists {
    font-size: calc(var(--base-font-size) * 1.25);
  }

  .track-number {
    font-size: calc(var(--base-font-size) * 1.5);
  }
}
