@import "../mixins/d-flex.scss";

.add-song-modal-wrapper {
  background-color: transparent;
  backdrop-filter: blur(5px);

  .modal-container {
    .add-song-modal {
      padding: 5% !important;
      background-color: var(--bg-about);
      border: 3px solid var(--clr-white-2);

      @include d-flex(center, flex-start, column);

      .searchbar {
        margin-top: 0.5em;
        position: relative;
        width: 100%;
        background-color: var(--clr-white-2);
        border-radius: 100px;
        @include d-flex(center, center, row);
        gap: 10px;
        padding: 5px 0;

        > input {
          all: unset;
          width: 100%;
          color: var(--clr-black);
          font-family: var(--f-circ-pro);
          font-size: calc(var(--base-font-size) * 3);
        }

        > svg {
          color: var(--clr-gray);
          font-size: calc(var(--base-font-size) * 3);
          cursor: pointer;

          &:nth-child(1) {
            margin-left: 10px;
          }

          &:not(:nth-child(1)) {
            margin-right: 10px;
          }
        }
      }

      ul.song-list {
        max-height: 350px;
        height: auto;
        list-style-type: none;
        width: 100%;

        > li {
          @include d-flex(flex-start, center, row);
          gap: 1em;
          cursor: pointer;
          margin-top: 10px;
          width: 100%;
          border-radius: 10px;
          padding: 0.2em 0.5em;

          .image-container {
            max-width: 50px;
            max-height: 50px;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            overflow: hidden;

            > img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          .title {
            font-size: calc(var(--base-font-size) * 2.5);
            width: 100%;
          }

          &:hover {
            background-color: rgba($color: #000000, $alpha: 0.2);
          }
        }
      }

      .button-container {
        margin-top: 1em;
        @include d-flex(center, center, row);
        width: 100%;
        > button {
          border: none;
          outline: none;
          background-color: var(--clr-white-2);
          padding: 0.2em 1em;
          border-radius: 100px;
          font-family: var(--f-circ-pro);
          font-size: calc(var(--base-font-size) * 3);
          transform: scale(1);
          transition: transform 300ms ease-in-out;

          &.hide {
            transform: scale(0);
          }
        }
      }
    }
  }
}

@media (max-width: 776px) {
  .add-song-modal-wrapper {
    .modal-container {
      .add-song-modal {
        .searchbar {
          > input {
            font-size: calc(var(--base-font-size) * 2.25);
          }

          > svg {
            font-size: calc(var(--base-font-size) * 2.25);
          }
        }

        ul.song-list {
          > li {
            padding: 0.2em 0.4em;

            .image-container {
              max-width: 40px;
              max-height: 40px;
            }

            .title {
              font-size: calc(var(--base-font-size) * 2);
            }
          }
        }

        .button-container {
          > button {
            font-size: calc(var(--base-font-size) * 2);
          }
        }
      }
    }
  }
}
