.alert {
  position: fixed;
  z-index: 100;
  top: 90%;
  left: 50%;
  width: max-content;
  transition: transform 300ms ease-in-out;
  transform: translateX(-50%);
  padding: 0.6em 2em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;

  .message {
    color: var(--clr-white);
    font-family: var(--f-circ-pro);
    font-size: calc(var(--base-font-size) * 2.75);
  }

  > div:nth-child(2) {
    color: var(--clr-white);
    cursor: pointer;
    display: grid;
    place-items: center;

    > svg {
      font-size: calc(var(--base-font-size) * 2.5);
    }
  }

  &.success {
    background-color: var(--clr-alert-success);
  }

  &.error {
    background-color: var(--clr-alert-error);
  }

  &.hide {
    transform: translateY(1000px);
  }
}

@media (max-width: 776px) {
  .alert {
    width: 90%;
    .message {
      font-size: calc(var(--base-font-size) * 2.25);
    }

    > div:nth-child(2) {
      > svg {
        font-size: calc(var(--base-font-size) * 2);
      }
    }
  }
}
