@import "../mixins/d-flex.scss";

.alert {
  position: fixed;
  z-index: 9999;
  bottom: 5vh;
  left: 50%;
  width: max-content;
  transition: transform 300ms ease-in-out;
  transform: translateX(-50%);
  padding: 0.6em 2em;
  border-radius: 5px;
  @include d-flex(center, center, row);
  gap: 1em;

  .message {
    color: var(--clr-white);
    font-family: var(--f-circ-pro);
    font-size: calc(var(--base-font-size) * 2.75);
  }

  > div:nth-child(2) {
    color: var(--clr-white);
    cursor: pointer;
    display: grid;
    place-items: center;

    > svg {
      font-size: calc(var(--base-font-size) * 2.5);
    }
  }

  &.success {
    background-color: var(--clr-alert-success);
  }

  &.error {
    background-color: var(--clr-alert-error);
  }

  &.info {
    background-color: var(--clr-alert-info);
  }

  &.warning {
    background-color: var(--clr-alert-warning);
  }

  &.hide {
    transform: translateX(0) translateY(1000px);
  }
}

@media (max-width: 776px) {
  .alert {
    max-width: 90%;
    top: 10vh;
    bottom: unset;
    .message {
      font-size: calc(var(--base-font-size) * 2.25);
    }

    > div:nth-child(2) {
      > svg {
        font-size: calc(var(--base-font-size) * 2);
      }
    }

    &.hide {
      transform: translateX(1000px);
    }
  }
}
