.song-wrapper {
  display: flex;
  flex-direction: column;
  gap:1em;

  .info-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1em;

    .image-container {
      width: 48px;
      height: 48px;
      min-width: 48px;
      min-height: 48px;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  .audio-container {
    width: 90%;
    height: 40px;
    > audio {
      width: 90%;
    }
  }
}
