.img-container {
  position: relative;
  z-index: 1;
  width: 90%;
  height: 100%;
  margin-left: 8em;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0.9);
  }

  > img:first-child {
    top: -1.5em;
    left: -1.5em;
    z-index: 3;
  }

  > img:nth-child(2) {
    top: 0;
    left: 0;
    z-index: 2;
  }

  > img:nth-child(3) {
    top: 1.5em;
    left: 1.5em;
    z-index: 1;
  }

  @media (max-width: 776px) {
    margin-left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

    > img {
      position: relative;
      width: 100%;
      transform: scale(1);
      object-fit: contain;
    }

    > img:first-child {
      left: 0;
      top: 0;
    }

    > img:not(:first-child) {
      display: none;
    }
  }
}
