.audio-container {
  position: absolute;
  left: 1.4em;

  > audio {
    visibility: hidden;
  }

  > .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;

    > button {
      font-size: calc(var(--base-font-size) * 3.5);
      background-color: transparent;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--clr-black);
      padding: 0.3em;
    }

    > button:hover,
    > button:focus {
      background-color: var(--clr-white);
      color: var(--clr-black);
      border-radius: 50%;
    }
  }
}

@media (max-width: 776px) {
  .audio-container {
    all: unset;
    position: relative;
    > .controls {
      margin-top: 2em;
      width: 100%;
      align-items: center;
      flex-direction: row;
      > button {
        font-size: calc(var(--base-font-size) * 3);
      }
    }
  }
}
