@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

:root {
  --bg-home: #ffc055;
  --bg-dashboard: #483048;
  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-green: #418671;
  --clr-gray: #ac91c1;
  --clr-orange: #f18a21;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.wrapper {
  position: relative;
  z-index: 1;
}

a {
  text-decoration: none;
  color: inherit;
}
